.page {
	min-height: 400px;
	padding: 60px 0;

	@include m1024 {
		padding: 80px 0;

		.wrapper_l {
			margin: 0 auto 30px auto;
		}
	}
}


.wrapper {
	&_l {
		// outline: 1px dotted cyan;
		position: relative;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: calc(100% - 60px);

		@include m1366 {
			width: 100%;
			max-width: 1208px;
		}

		@include m1024 {
			width: calc(100% - 42px);
		}
	}

}


@function colCount($number) {
	@return (73 / 1208 * 100 * $number * 1%);
}

@mixin col($number) {
	$colonnes: colCount($number);
	width: calc(#{$colonnes} + (30px * (#{$number} - 1)));

	@include m1024 {
		width: 100%;
	}

	@include m767 {
		margin: 0 auto 30px auto;
	}
}

