


// Grille
@function colCount($number) {
	@return (73 / 1208 * 100 * $number * 1%);
}


// calcul de largeur pour X colonnes
@mixin col($number) {
	$colonnes: colCount($number);
	width: calc(#{$colonnes} + (30px * (#{$number} - 1)));

	@include m1024 {
		width: 100%;
	}

	@include m767 {
		margin: 0 auto 30px auto;
	}
}

