/* Variables declaration


/* COLORS
$colorname: #cccccc
$colornameLight: #F5F5F5
$colornameDark: #333333
*/
$white : #ffffff;
$black: #000000;


// FONTS
$font01 : 'Montserrat','Helvetica', 'Arial', sans-serif; 
$font02: 'Times New Romain', serif;
